<div class="uk-flex uk-flex-middle uk-flex-center uk-height-viewport">  
  <mat-card class="uk-width-1-3@m uk-width-1-2@s">
      <div class="uk-flex uk-flex-center uk-margin-medium-bottom">
          <h3>Login</h3>
      </div>
    <mat-card-content>      
      <mat-form-field class="uk-width-1-1" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Ex. email@domain.com" [(ngModel)]="user.email" [formControl]="email" required>
          <mat-error *ngIf="email.hasError('required')">Email harus diisi</mat-error>
          <mat-error *ngIf="email.hasError('email')">Format email salah</mat-error>
        </mat-form-field>
        <mat-form-field class="uk-width-1-1" appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" placeholder="Your password" [(ngModel)]="user.password" [formControl]="password" required>
          <button mat-icon-button matSuffix (click)="hide = !hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          <mat-error *ngIf="password.hasError('required')">Password harus diisi</mat-error>
          <mat-error *ngIf="password.hasError('minlength')">Password harus lebih dari 6 karakter</mat-error>
        </mat-form-field>      
        <div class="uk-flex uk-flex-right">
            <div class="uk-width-expand">
              <button mat-button routerLink="/register">Create account</button>              
            </div>
            <button mat-raised-button color="primary" (click)="login(user)" [disabled]="loading || email.hasError('email') || email.hasError('required') || password.hasError('required')">{{loading ? 'TUNGGU..':'LOGIN'}}</button>
        </div>
    </mat-card-content>
  </mat-card>
</div>