<mat-card>
    <mat-card-header>
        <mat-card-title>Forms</mat-card-title>
    </mat-card-header>
    <mat-card-content>

        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Nama</mat-label>
            <input matInput placeholder="Tulis nama" [(ngModel)]="data.nama" required #nama="ngModel">           
            <mat-error *ngIf="nama.invalid">Nama harus diisi</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="Tulis email" [(ngModel)]="data.email" email="true" #email="ngModel">           
            <mat-error *ngIf="email.invalid">Isi dengan email yang valid</mat-error>
        </mat-form-field>       
       
        <div class="uk-flex">
            <mat-radio-group aria-label="Select an option" [(ngModel)]="data.gender">
                <mat-radio-button value="'L'">Laki-laki</mat-radio-button>   
                <mat-radio-button value="'P'">Perempuan</mat-radio-button>
              </mat-radio-group>
        </div>

        <mat-checkbox>Saya menyetujui syarat dan ketentuan yang berlaku</mat-checkbox>
        
        

          <div class="uk-flex">
              <span class="uk-width-expand"></span>
              <button mat-flat-button color="primary" (click)="submitData()">Submit</button>
          </div>

    </mat-card-content>
</mat-card>