.open-close-container {
    border: 1px solid #dddddd;
    margin-top: 1em;
    padding: 20px 20px 0px 20px;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
  }


  .bottom-right{
      position: fixed;
      bottom: 20px;
      right: 20px;
  }